html, body {
    font-size: 100%;
    font-family: 'Source Sans Pro', Helvetica, "Helvetica Neue",  Arial, "Lucida Grande", sans-serif;
 	background-color: rgb(48, 44, 40);  /* #f1f1f1 */

    padding: 0px;
	margin: 0;
	line-height: 155%;
	height: 100%; 
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
}

/*  HEADER AND SCROLL*/

header {
	
	z-index:2;
	top:0; left:0;
	width:100%;
	height:45px;
	line-height:45px;
background: rgb(73,57,31); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5MzkxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzE2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(73,57,31,1) 0%, rgba(35,22,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,57,31,1)), color-stop(100%,rgba(35,22,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(73,57,31,1) 0%,rgba(35,22,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(73,57,31,1) 0%,rgba(35,22,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(73,57,31,1) 0%,rgba(35,22,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(73,57,31,1) 0%,rgba(35,22,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49391f', endColorstr='#231600',GradientType=0 ); /* IE6-8 */

	padding:0;
	color:#eee;
	font-size:20px;
	text-align:center;
}

header img {
	margin-top: 12px;
	margin-right: 10px;	
}

header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

footer {
	height: 75px;	
}

.help {
	float: right;
	margin: 0 15px;	
	text-shadow: 1px 1px 1px #000;
}

.home {
	float: left;
	margin-left: 15px;
	position: absolute;
}

.shadow {
	-moz-box-shadow: 0px 0px 6px #000;
	-webkit-box-shadow: 0px 0px 6px #000;
	box-shadow: 0px 0px 6px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

hr {
	color: #333;
	border: solid 1px #666;	
}


#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
#myFrame {
	position:absolute;
	top:0; left:0;
}


/* END HEADER AND SCROLL*/


/* MENU */

a:hover {
	text-decoration: none;	
}



ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
 	text-shadow: 1px 1px 1px black;
}

ul.menu a {
  display: block;
  text-decoration: none;	

}

ul.menu li {
  margin-top: 0px;
	
}

ul.menu li a {

  color: #fff;	
  padding: 0.8em;
  padding-left: 25px;
 
}




.menu li > a:after { font-size: .8em; float: right; margin-right: 5px; content: '\25BA'; }
.menu > li > a:after { font-size: .8em; float: right; margin-right: 5px; content: '\25BC'; }
.menu li > a:only-child:after { font-size: 1em; float: right; margin-left: 0; content: ''; }





ul.menu li a:hover {
	color: #ccc;
  text-decoration: none;
  
}

ul.menu li ul li a {
 
  color: #fff;
  padding-left: 25px;
 
}

ul.menu li ul li a:hover {
	color: #ccc;
 text-decoration: none;
  
}

ul.list_text li {
	background: none;
	font-size: 1em;	
	line-height: 135%;
	border: none;
	list-style:disc;
	color: #000;
	margin: 1% 0;
}

.inner li {
	background-color:rgb(83, 75, 59); /*#454B50*/	
}

.code { border: 0px solid #ccc; list-style-type: decimal-leading-zero; padding: 3px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ffffff; border: 0px solid #ccc; margin: 0; }
.indent1 { padding-left: 0; }
.indent2 { padding-left: 0; }
.indent3 { padding-left: 0; }
.indent4 { padding-left: 0; }
.indent5 { padding-left: 0; }


.category {
  font-weight:bold;

   border-bottom-style: solid;
  border-bottom-color:#998675;
  border-bottom-width: 0px;
}

.buttons {
	text-align: center;
	width: 90%;
	margin: 0 auto 5% auto;	
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border: solid 1px #000;
	background: rgb(164,179,87); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg5MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,179,87,1)), color-stop(100%,rgba(117,137,12,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-8 */
	
	
	font-size: 18px;
	height: 54px;
}

.buttons a:link {
	width: 45%;
	color: #fff;
	padding: 2%;	
}

.buttons a:hover {
	width: 100%;
	color: #000;
	padding: 2%;	
	text-decoration: none;
	
}

.buttons:hover {

	
	
background: rgb(115,136,10); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczODgwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Mzg4MGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(115,136,10,1) 0%, rgba(115,136,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(115,136,10,1)), color-stop(100%,rgba(115,136,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(115,136,10,1) 0%,rgba(115,136,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(115,136,10,1) 0%,rgba(115,136,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(115,136,10,1) 0%,rgba(115,136,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(115,136,10,1) 0%,rgba(115,136,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73880a', endColorstr='#73880a',GradientType=0 ); /* IE6-8 */
text-decoration: none;
color: #fff;

}

.buttons p {
	text-transform: uppercase;
	font-weight:bold;	
	margin: 15px;
}

.button-right {
		float: right;
padding: 0 0 0% 0;
text-align: center;
width: 49.5%;
height: 3em;

padding-bottom: 0%;

border-left: solid 0px #0F0E0E;
}

.button-left {
		float: left;
padding: 0 0 0% 0;
text-align: center;
width: 49.7676%;
height: 3em;

padding-bottom: 0%;

border-right: solid 0px #332F2F;
}



.details-page {
    width: 100%;
    height: 100%;
}

#map_content {
	float: right;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map_canvas {
	
    width: 100%;
    height: 100%;
    padding: 0;
    text-shadow: none;
}

#content-mobile {
	display: none;	
}

#content-primary {
	color: #000;
	z-index: 100;
	float: right;
	width: 50%;	
	min-height: 800px;
	background: #fff;
	padding: 5%;
	-moz-box-shadow: 0px 0px 2px 2px #ccc;	
	-webkit-box-shadow: 0px 0px 2px 2px #ccc;
	box-shadow: 0px 0px 2px 2px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ccc')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ccc');
}

#content-primary h2 {
	color: #000;
}

#content-primary img {
	margin: auto;
	width: 100%;
	-moz-box-shadow: 0px 0px 1px 1px #666;	
	-webkit-box-shadow: 0px 0px 1px 1px #666;
	box-shadow: 0px 0px 1px 1px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666');
}

#content-primary p {
	color: #000;
}

#content-secondary {
	z-index: 1000;
	width: 100%;	
	height: auto;
	margin: auto;
	background: rgb(65, 58, 52); /* #333536 */ 
	-moz-box-shadow: 1px 2px 2px #333;	
	-webkit-box-shadow: 1px 2px 2px #333;
	box-shadow: 1px 2px 2px #333;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#333')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#333');
}


.page {
	margin: 0 auto 15px auto;
	max-width: 960px;	
	min-height: 500px;
}

#branding {
	height: 15%;
width: 100%;	
background-image:url(../images/mt-tam.jpg);
background-repeat:no-repeat;
background-size:cover;
text-align: center;

}

#branding h2 {
	text-transform: uppercase;
	line-height: 135%;
	font-size: 1.4em;	
	text-shadow: 1px 1px 1px #000;
	margin-top: 0;
}

#logo {
	background-color: #F4F6E0;	
	border-bottom: dotted 3px #000;
}

.black_band {
	width: 100%;
	height: 8px;
		background-color: #F4F6E0;	
	border-bottom: solid 5px #000;	
	
}

#branding img {
width: 50%;	
}

h2 {
	text-transform:capitalize;
	color: #fff;	
}

hr {
	margin: 5% auto;
	border-color: rgb(223, 223, 223);	
}


#content_nav {
	background-color: #7E201F;	
}

.confirmation_box {
background: #fff;
width: 95%;
margin: 0 auto 5% auto;
padding: 5%;	
}

.confirmation_box  p {
	
    color: #000;
    font-size: 1em;
}

.confirmation_box h2 {
	margin-top: 0;
    color: #000;
    font-size: 2em;
}



.calc_step {
background: #fff;
width: 95%;
margin: 5% auto;
padding: 0 0 5% 0;	
}

.calc_step p {
	
    color: #000;
    font-size: 1em;
}

ul {
	

	margin-left: 0px;
	list-style: none;	
	
	}

li {
	font-weight: normal;
	
	list-style: none;	
	border-top: solid 1px #666;
	border-bottom: solid 1px #000;
	
	background-color:rgb(129, 139, 56); /*#333536 */
	font-size: 18px; /* 1.2em */
	width: 100%;
	margin-left: 0px;
	
	color: #fff;
}


/* FORM STYLES */

.styled-select select {
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   }
   
.styled-select {
   width: 100%;
   height: 34px;
   overflow: hidden;
  
   background:  no-repeat right #ddd;
   content: '\25BC';
   border: 1px solid #ccc;
  
   }   
   
   
   
div.label { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  font-size: 100%; 
  font-weight: bold; 
} 

.info_text {
	width: 90%;
	margin: auto;
	line-height: 135%;	
}

p a:link {
	color: #0776AB;
	text-decoration: none;
}

p a:visited {
	color: #0776AB;
	text-decoration: none;
}

p a:active {
	
}

p a:hover {
	color: #30639C;
	text-decoration: underline;
}

/* BUSINESS FEED */

a:link {
	color: #CCC;
	text-decoration: none;
}

a:visited {
	color: #fff;
	text-decoration: none;
}

a:active {
	
}

a:hover {
	color:#0080FF;
	text-decoration: underline;
}

#discount_wrapper {
	margin:10px;
}

#discount_feed {
	 font-family: 'Source Sans Pro', Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
	max-width: 522px;	
	background-color:#fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:15px 0 0 10px;
	margin: auto;
}

.mv_business {
	float: right;
	padding: 15px 10px  10px 0;
	
	border-bottom: solid 1px #ccc;
	width: 100%;
}

.mv_business:hover {
	background-color: #EFEFEF;	
}

.logo_avatar {
	float: left;
	width: 48px;
	height: 48px;
	background-color:#666;	
	margin: 0px 15px 50px 5px;
}

.discount_info {
	margin-left: 10px;	
}

.business_header {
	font-size: 15px;
	color: #333;	
	font-weight: bold;
}

.offer {
	font-size: 16px;
	margin-top: 3px;
}	

#discount_feed p {
	margin-top: 3px;	
}


@media screen and (max-width: 720px) {
#content-secondary {
	width: 100%;
}

#content-primary {
	display: none;	
		
	
	
}


#content-mobile {
	display: inherit;
	color: #000;
	z-index: 100;
	
	
	min-height: 800px;
	background: #fff;
	padding: 5%;
	-moz-box-shadow: 0px 0px 2px 2px #666;	
	-webkit-box-shadow: 0px 0px 2px 2px #666;
	box-shadow: 0px 0px 2px 2px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666');
}

#content-mobile h2 {
	color: #000;
}

#content-mobile img {
	margin: auto;
	width: 100%;
	-moz-box-shadow: 0px 0px 1px 1px #666;	
	-webkit-box-shadow: 0px 0px 1px 1px #666;
	box-shadow: 0px 0px 1px 1px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666');
}

#content-mobile p {
	color: #000;
}



}